<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>UChicago Roulette</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">		
		<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
		<link href="/static/css/main.css" rel="stylesheet">		
	</head>
	<body>

		<div class="alert alert-warning">
			A desktop version of Firefox &ge;= 26.0 or Chrome &ge;= 28 is recommended.
		</div>

		<div class="container" ng-app="app" ng-controller="MainCtrl" ng-cloak>
			<div class="page-header">
				<h1 style="font-family: 'EB Garamond', serif; font-weight: bold; color: #800000;">UChicago Roulette</h1>
				<h3>Chatroulette + UChicago = UChicago Roulette</h3>
			</div>
			<div class="alert alert-danger" ng-show="noWebRTC">
				Sorry, your browser doesn't support WebRTC! Please use a <a href="http://en.wikipedia.org/wiki/WebRTC#Support">supported browser</a>.<br>
				Please note that mobile browsers are not supported at this time.
			</div>
			<div class="alert alert-danger" ng-show="isMobile">
				Looks like you're using a mobile browser. Unfortunately, due to compatibility issues, mobile browsers are not supported at this time. 
			</div>
			<div class="alert alert-danger" ng-show="gumDenied">
				If you won't give us access to your webcam, we won't give you access either!	
			</div>
			<div class="alert alert-info" ng-show="!connected">
				<span class="glyphicon glyphicon-signal"></span> Establishing connection to server...
			</div>
			<div class="alert alert-danger" ng-show="closed">
				The connection to the server was lost. Try refreshing the page.
			</div>
			<div ng-show="supported">
				<button class="btn btn-primary" ng-disabled="!(connected && !waiting)" ng-click="nextUser()">Next user</button>
				<input type="checkbox" ng-model="muteVideo" ng-change="toggleLocalStream('video')"> Mute my video
				<input type="checkbox" ng-model="muteAudio" ng-change="toggleLocalStream('audio')"> Mute my audio
				<div style="margin-top: 1em;"></div>
				<div class="alert alert-info" ng-show="connected && waiting && !closed">
				<span class="glyphicon glyphicon-time"></span> Waiting for a partner...
				</div>
				<div class="alert alert-success" ng-show="connected && !waiting">
					<span class="glyphicon glyphicon-ok"></span> CONNECTED
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>You</h1>
						<video id="local-video" class="webcam" autoplay muted></video>
					</div>
					<div class="col-md-6">
						<h1>Not You</h1>
						<video id="remote-video" class="webcam" autoplay poster="static/img/video-placeholder.png"></video>
					</div>
				</div>
				<div class="row">
					<div id="chat-messages" scroll-bottom>
						<p ng-repeat="m in messages track by $index" ng-bind-html="m"></p>
					</div>
					<form id="chat-form" ng-submit="sendChatMessage()">
						<input id="chat-input" type="text" class="form-control" ng-model="chatMessage" ng-disabled="!(connected && !waiting)" autofocus>
					</form>
				</div>
			</div>

			<hr>
			<footer>
				<p>(C) 2014 UChicago Roulette</p>
			</footer>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/static/js/webrtc-adapter.js"></script>
		<script src="https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
		<script src="/static/js/app.js"></script>
	</body>
</html>
